body{
    height: 1000px;
}

h4{
    border: 1px solid black;
    position: absolute;
    bottom: 150px;
}

.test{
    border: 10px solid red;
    min-width: 100px; /* позволяется задавать минимальную ширину и высоту для элемента, текста будет больше - подстроиться */
    max-width: 300px;
    height: 100px;
    display: inline-block;
    box-sizing: border-box;
    /* static применяется автоматически, прописывать не нужно position: static; */
    /* position: relative; сформировал поток и мы теперь можем управлять его позицией */
    position: sticky;
    top: 20px;
    right: 20px;
    /* Relative: Вниз и влево, пишем вверх и справо, потом что перенос относителено изначального положения, "отталкиваются" 
    Absolute: Отступается Вниз и влево уже от краёв документа, так как нет другого родителя со своим позиционированием, после того как h4 стал relative то отталкивается уже от h4 (родитель)
    Fixed: Позиционирование будет всегда отсчитываться от края окна браузера
    */
}